.bookingPage {
    position: relative;
    margin-top: 1rem;
}
.heading {
    position: relative;
    background-color: #d4eaf0;
    padding: 100px 0 100px 100px;
    border-radius: 32px;
    @media screen and (max-width: 500px) {
        padding: 20px 0 20px 40px;
    }
}
.text {
    max-width: 50%;
    z-index: 1;
    position: relative;
    &Heading {
        color: #0693af;
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
        letter-spacing: unset;
    }
    &Desc {
        margin-top: 12px;
        font-size: 24px;
        line-height: 27px;
        color: #79acb7;
    }
    @media screen and (max-width: 600px) {
        &Heading {
            font-size: 38px;
            line-height: 48px;
        }
        &Desc {
            font-size: 20px;
            line-height: 24px;
        }
    }
}
.wave {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    height: 100%;
    & svg {
        height: 100%;
        width: auto;
        @media screen and (max-width: 1120px) {
            height: 80%;
        }
        @media screen and (max-width: 1000px) {
            height: 300px;
        }
        @media screen and (max-width: 600px) {
            opacity: 0.5;
            height: auto;
            width: 80vw;
        }
    }
    @media screen and (max-width: 1120px) {
        bottom: 0;
        height: unset;
        top: unset;
    }
}
.bookForm {
    margin-top: 128px;
    display: grid;
    grid-template-columns: 4fr 6fr;
    column-gap: 5vw;
    @media screen and (max-width: 1050px) {
        grid-template-columns: 1fr;
        flex-wrap: wrap;
    }
    @media screen and (max-width: 600px) {
        margin-top: 64px;
    }
}
.right {
    & img {
        width: 100%;
        height: auto;
    }
    @media screen and (max-width: 1050px) {
        display: none;
    }
}
.sectionHeader,
.sectionSubHeader {
    grid-column: 1/-1;
}
.sectionSubHeader {
    color: #676767;
    font-size: 16px;
    margin-top: 16px;
}

.sectionHeader {
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    margin-top: 64px;
}

.bookingButton__wrapper {
    margin: 64px 0;
}

.date__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
    gap: 30px;
}

.date__label {
    font-size: 16px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.date__input {
    background-color: #e9f4f7;
    border: 0;
    padding: 20px 24px 20px 24px;
    border-radius: 16px;
    font-size: 20px;
    font-weight: 500;
    &::placeholder {
        color: #92c7d6;
    }
}

.homecard__wrapper {
    margin-top: 64px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
}
