.sidebarNavItem {
    & a {
        font-size: 28px;
        color: #0693af;
    }
}
.sidebarNavItem:last-child {
    margin-top: 20px;
    & a {
      font-size: 24px;
        color: #22262e;
    }
}
