.bookingPage {
    position: relative;
    margin-top: 1rem;
}
.heading {
    position: relative;
    background-color: #d4eaf0;
    padding: 100px 0 100px 100px;
    border-radius: 32px;
}
.text {
    max-width: 50%;
    &Heading {
        color: #0693af;
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
        letter-spacing: unset;
    }
    &Desc {
        margin-top: 12px;
        font-size: 24px;
        line-height: 27px;
        color: #79acb7;
    }
}
.wave {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    & svg {
        height: 100%;
        width: auto;
    }
}
.bookForm {
    margin-top: 128px;
    display: grid;
    grid-template-columns: 4fr 6fr;
    column-gap: 5vw;
}
.right {
    & img {
        width: 100%;
        height: auto;
    }
}
.sectionHeader, .sectionSubHeader{
    grid-column: 1/-1;
}
.sectionSubHeader {
    color: #676767;
    font-size: 16px;
    margin-top: 16px;
}
.sectionHeader {
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    margin-top: 64px;
}