.container {
}

.form {
}

.sectionHeader {
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
}

.sectionHeader:not(:nth-child(1)) {
    margin-top: 64px;
}

.column {
    flex-direction: column;
}

.inputs {
    display: flex;
    gap: 32px;
    margin-top: 48px;
}

.dates {
}
.select {
    background-color: #e9f4f7;
    border: 0;
    padding: 20px 24px;
    border-radius: 16px;
    font-size: 20px;
    font-weight: 500;
    box-shadow: 0 100px 80px rgba(0, 0, 0, 0.07),
        0 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198),
        0 22.3363px 17.869px rgba(0, 0, 0, 0.0417275),
        0 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
        0 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725),
        0 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
}
.option {
}
.optionData {
}
.sectionSubHeader {
    color: #676767;
    font-size: 16px;
}
@media screen and (max-width: 500px){
    .wrap{
        flex-wrap: wrap;
    }
}