.footer {
    height: 630px;
    background-image: url('./footer.png');
    background-size: cover;
    display: flex;
    align-items: center;
}
.contacts {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
}
.phone {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.1em;
    color: #edf5f8;
}
.map {
    @extend .phone;
    text-decoration: underline;
}
.h3 {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 200%;
    text-transform: uppercase;
    color: #e8e8e8;
}
