.container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.label {
    font-size: 16px;
    font-weight: 500;
}

.input {
    background-color: #e9f4f7;
    border: 0;
    padding: 20px 24px;
    border-radius: 16px;
    font-size: 20px;
    font-weight: 500;
    &::placeholder {
        color: #92c7d6;
    }
    &[type='number'] {
        max-width: 160px;
    }
}
